table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    background-color: rgb(164, 205, 240)
}

tr:nth-child(even){
    background-color: #dddddd;
}

tr:nth-child(odd){
    background-color: #A3F3DF;
}


